/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
    line-height: 1.6;
    margin: auto 1em;
  }
  
  /* Estilos del formulario */
  .form-container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.937);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #2b2b2b;
    color: #ffffff;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  #result {
    text-align: center;
    margin-top: 20px;
    color: #EA3323;
  }
  
  /* Estilos para dispositivos móviles */
  @media (max-width: 480px) {
    .form-container {
      width: 90%;
      margin: 20px auto;
    }
  }